
# Bootstrap script will register a subnet, and netuid 1 is preoccupied and unusable, hence we end up with netuid 2
# This may
NETUID=2

# Tempo = epoch length in blocks
# This is not configurable yet - support for non-standard tempo is required across the stack
# This only sets the localnet subnet tempo so that it matches the default tempo in other services
SUBNET_TEMPO=360

# Validator connection to pylon
VALIDATOR_PYLON_SERVICE_ADDRESS=http://localhost:8000
VALIDATOR_PYLON_OPEN_ACCESS_TOKEN=localnet-open-access-token
VALIDATOR_PYLON_IDENTITY_NAME=validator
VALIDATOR_PYLON_IDENTITY_TOKEN=localnet-validator-token
